{% extends 'base.html' %}

{% block title %}Add Student{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <!-- Manual Entry Section -->
            <div class="card mb-4">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#manualSection" aria-expanded="true" aria-controls="manualSection">
                            Manual Entry
                        </button>
                    </h2>
                </div>
                <div id="manualSection" class="collapse show">
                    <div class="card-body">
                        <form method="post" id="manualForm" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.name.label_tag }}
                                {{ form.name }}
                            </div>
                            <div class="form-group">
                                {{ form.roll_number.label_tag }}
                                {{ form.roll_number }}
                            </div>
                            <div class="form-group">
                                {{ form.course.label_tag }}
                                {{ form.course }}
                            </div>
                            <div class="form-group">
                                {{ form.dob.label_tag }}
                                {{ form.dob }}
                            </div>
                            <div class="form-group">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="submit" name="form_submit" class="btn btn-primary btn-block">Save</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-secondary btn-block" data-toggle="collapse" data-target="#manualSection" aria-expanded="true" aria-controls="manualSection">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- CSV Import Section -->
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#csvSection" aria-expanded="false" aria-controls="csvSection">
                            Import from CSV
                        </button>
                    </h2>
                </div>
                <div id="csvSection" class="collapse">
                    <div class="card-body">
                        <form method="post" id="csvForm" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="csv_file">Upload CSV File:</label>
                                <input type="file" name="csv_file" id="csv_file" accept=".csv" class="form-control">
                            </div>
                            <div id="csv_preview" class="mb-3"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="submit" name="csv_submit" class="btn btn-primary btn-block">Import</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-secondary btn-block" data-toggle="collapse" data-target="#csvSection" aria-expanded="false" aria-controls="csvSection">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        // Show manual form by default
        $('#manualForm').show();
        $('#csvForm').hide();

        // Toggle between manual and CSV import sections
        $('button[data-toggle="collapse"]').on('click', function() {
            if ($(this).attr('data-target') === '#manualSection') {
                $('#csvSection').collapse('hide');
            } else {
                $('#manualSection').collapse('hide');
            }
        });

        // CSV preview functionality
        function readCSV(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    var csvData = e.target.result;
                    $('#csv_preview').html('<pre>' + csvData + '</pre>');
                };
                reader.readAsText(input.files[0]);
            }
        }

        $('#csv_file').change(function() {
            readCSV(this);
        });
    });
</script>
{% endblock %}
